<mat-card>
  <mat-card-content>
    <div class="header">
      Now it's your turn to regain control and step into Verinaworld
    </div>
    <form class="example-form">

      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput value="Your Username">
      </mat-form-field>



        <mat-form-field class="example-full-width">
          <mat-label>Second Name</mat-label>
          <textarea matInput placeholder="Second Name"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+43 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <span matPrefix></span>
        <input type="email" matInput placeholder="ecample@gmail.com">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>




    </form>
  </mat-card-content>
</mat-card>
