<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>Sign Into Your Account!</h2>
    </div>

    <form (ngSubmit) ="onLogin()" name="loginForm" [formGroup]="loginForm" >
    <div class="email-input">
      <mat-form-field class="full-widht" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required placeholder="Enter email address">
        <mat-error *ngIf="!loginForm.controls['email'].valid">
          Email is invalid, please enter a email address
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-widht" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required/>
        <button mat-icon-button matSuffix (click)="hide = !hide " color="primary"
        [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password']">Password is invalid, please enter min length 6 numbers </mat-error>
      </mat-form-field>
      <span>
            <a class="aLink" routerLink="/reset">Forgot Password?</a>
<!--        user kann ein neues Passwort erstellen ist das in einer Snackbar möglich??? -->
          </span>
    </div>
     <div class="button-row" >
       <div class="flex-container" fxLayoutGap="10px">
         <button mat-raised-button color="accent" (click)="onLogin()">Login</button>
<!--         wenn form ausgefüllt und user regestriert ist erst Login Button click Login zu Daschboard-->
         <button routerLink="/regista" mat-stroked-button color="primary" (click)="createNewAccount()">New Account</button>
       </div>
     </div>

    <div>
      <mat-radio-group formControlName="newsletter" aria-labelledby="do you want subscribe to our newsletter">
        <mat-radio-button value="subscribe" checked>want the super Newsletter</mat-radio-button>
<!--        abbonieren den Newaletter , was sind die nächsten schritte -->
      </mat-radio-group>
    </div>
    </form>

  </mat-card-content>
</mat-card>

