mat-card{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30%;
}

.header{
  text-align: center;
}

.full-widht{
  width: 100%;
}
.forgot-password{

}

.email-input{

}
.aLink{

}
