<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>Forgot Password?</h2>
    </div>
    <form [formGroup]="resetForm">
      <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <span matPrefix></span>
          <input
            formControlName="email"
            type="email"
            matInput
            placeholder="ecample@gmail.com"
            value=""
            required>
          <mat-icon
            matSuffix
            color="accent">email</mat-icon>
          <mat-error *ngIf="resetForm.controls['email']">Please enter your Email. </mat-error>
        </mat-form-field>
        <div>
         <button  mat-raised-button color="primary" (click)="newPassword()">Send new Password</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
